
//
// Fonts
//

$src-fonts: "../fonts/";

@font-face {
	font-family: 'icomoon';
	src:url('#{$src-fonts}icomoon.eot?-lajmbb');
	src:url('#{$src-fonts}icomoon.eot?#iefix-lajmbb') format('embedded-opentype'),
		url('#{$src-fonts}icomoon.woff?-lajmbb') format('woff'),
		url('#{$src-fonts}icomoon.ttf?-lajmbb') format('truetype'),
		url('#{$src-fonts}icomoon.svg?-lajmbb#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
	content: "\e600";
}
.icon-facebook:before {
	content: "\e602";
}
.icon-google-plus:before {
	content: "\e603";
}
.icon-youtube:before {
	content: "\e604";
}
.icon-github:before {
	content: "\e601";
}

//
// Logo
//

.logo {
	font-size: 1em;
	width: 300px;
	margin: 10px auto;

	h1 {
		padding-right: 0.2em;
		padding-left: 0.2em;
		
	}
}

//
// Social
//

.social {
	@include box-sizing(border-box);

	font-size: 2.3em;
	width: 225px;
	height: 40px;
	margin: 10px auto;

	li {
		float: left;
		margin-right: 0.2em;
	}
}

.slider {
	clear: both;
}

