//
// Colors
//

// Blue World
// url: http://www.colourlovers.com/palette/3013434/Blue_World

$clr-header: rgb(184, 211, 233); // Sky (header)
$clr-skyblue: rgb(110, 151, 184);
$clr-bg: rgb(99, 111, 122); // Faded Denimby (background)
$clr-blueish: rgb(81, 174, 199);
$clr-cleanwater: rgb(114, 151, 179);

header {
	background-color: $clr-header;
}